#admin,
#media {
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr;
}

#admin {
    grid-template-columns: minmax(12.5rem, 16vw) 1fr;
    grid-template-areas:
        'aside main';
}

#media {
    grid-template-columns: minmax(12.5rem, 16vw) 1fr minmax(12.5rem, 24vw);
    grid-template-areas:
        'aside main fileView';
}

#admin > .main,
#media > .main {
    padding-top: 5.57rem;
    grid-area: main;
    overflow-y: auto;
}

#admin .side-panel,
#media .side-panel{
    grid-area: aside;
}
