:root {

    --white: #FFF;
    --black: #000;
    --gray-1: #CCCCCC;
    --gray-2: #f1f1f1;
    --gray-3: #595959;
    --gray-4: #0D0D0D;
    --beige-1: #F6F6ED;
    --beige-2: #F3F3E4;
    --beige-3: #EAEAD3;
    --red: #F26D6F;
    --orange-1: #FFC885;
    --orange-2: #D97C0B;
    --green: #CAF272;
    --purple: #7B44F2;
    --pink: #F26DCF;

    --main-color: var(--white);
    --text-on-main-color: var(--gray-4);

    --transition: all 100ms linear;

    --border-width: 0.083rem;

}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-on-main-color);
    font-family: "Lato Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato Bold", sans-serif;
}

.hidden {
    display: none;
}
