:root {
    --white: #FFF;
    --light-gray: #F2F2F2;
    --gray: #4A4A4A;
    --dark-gray: #0D0D0D;
    --black: #000;
    --red: #D94032;
    --light-red: #FFB8B1;
    --yellow: #FFEDB1;
    --green: #69BFA0;
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--dark-gray);
    font-family: "Lato Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato Bold", sans-serif;
}

.hidden {
    display: none;
}
