.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    cursor: pointer;
}

.button > a {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
