.button {
    transition: var(--transition);
    background-color: var(--gray-4);
    color: var(--white);
}

.button .feather {
    stroke: var(--white);
}

.button:hover {
    background-color: var(--gray-3);
}

.button-round {
    border-radius: 100%;
}

.button-round:hover {
    background-color: var(--beige-3);
}

.button,
.button-round,
.button-transparent {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    cursor: pointer;
    transition: var(--transition);
}

.button,
.button-transparent {
    padding-inline: 1.5rem;
    gap: .5rem;
    width: fit-content;
    border-radius: .25rem;
}

.button-transparent {
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    color: var(--gray-3);
    transition: var(--transition);
}

.button-transparent .feather {
    stroke: var(--gray-3);
    transition: var(--transition);
}

.button-transparent:hover {
    color: var(--gray-4);
}

.button-transparent:hover .feather {
    stroke: var(--gray-4);
}

.button a,
.button-round a,
.button-transparent a {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
