:root {

    --beige: #FEFAF6;
    --brown: #C5BDB5;
    --dark-brown: #1F1D10;

    --font-main: 'Lato';
    --font-main-bold: 'Lato Bold';
    --font-main-italic: 'Lato Italic';
    --font-secondary: 'Libre Baskerville';
    --font-secondary-bold: 'Libre Baskerville Bold';
    --font-secondary-italic: 'Libre Baskerville Italic';

    --site-max-width: 90rem;

}

html {
    background-color: var(--beige);
    color: var(--dark-brown);
    font-family: var(--font-main), 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary), sans-serif;
}